@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}


header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: clamp(41px, 10vw, 56px);
    position: relative;

    .container {
        /* width: 80%; */
        width: 1110px;
        max-width: 90%;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: clamp(110px, 12vw, 145.5px);
        }

        #icon {
            width: 25px;
            display: none;

            @media screen and (max-width : 992px) {
                display: flex;
            }
        }

        nav {
            display: flex;
            gap: 32px;
            font-weight: 500;
            font-size: 13px;
            line-height: 145%;
            letter-spacing: 0px;
            color: #242D52;

            @media screen and (max-width : 992px) {
                display: none;
            }
        }

        button {
            border-radius: 22px;
            background: #F3603C;
            box-shadow: 0px 15px 15px -10px #FF9F8E;
            font-weight: 700;
            font-style: Bold;
            font-size: 13px;
            line-height: 145%;
            letter-spacing: 0px;
            vertical-align: middle;
            color: white;
            padding: 16px 32px;
            border: 0;

            @media screen and (max-width : 992px) {
                display: none;
            }
        }
    }



    #rectangular {
        position: absolute;
        right: 0;
        top: 0;

        @media screen and (max-width : 992px) {
            width: 50%;
        }

        /* @media screen and (max-width : 992px) {
            width: 50%;
            top: -100px;
            right: -20px;
        } */
    }
}